.header-table-charge {	
    height: 60px;	
    width: 100%;	
    background-color: #F3F3F3;
    padding: 20px;
    justify-content: space-between;
    
  }
  
  .title-table-charge {
    align-items: flex-start;
    text-align: -webkit-left;
  }  

  .table tbody tr td{
    padding: 1px;
  }

  .table-header {	
    height: 60px;	
    width: 100%;	
    display: flex;
    background-color: #E8E8E8;
    padding: 20px;
    justify-content: flex-end;
  }
  
  .actions {
    border: 0;
    background-color: transparent;
    margin-top: 8px;
    margin-left: 8px;
    position: relative;
  }

  .icon-trash-button {
    content: url('../../../assets/icons/trash.png');
    margin-right: 10px;
  }

  .icon-edit-button {
    content: url('../../../assets/icons/edit.png');
    margin-right: 10px;
  }

  .search-input {
    width: 500px;
    max-width: 400px;
    padding-bottom: 5px;
    padding-left: 7px;
    color: #3c3c3c;
    background: url('../../../assets/icons/filter-image.svg') no-repeat 98% 100%;
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    border-bottom: 2px solid #818181;
    outline: none;
  }
  
  .search-input::placeholder {
    color: #929292;
  }